body {
    background-color: rgb(245, 72, 9);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-color: green;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:992px) and (max-width:1024px) {
    body {
        background-color: rgb(223, 237, 28);
        grid-template-columns: repeat(3, 1fr);
    }
}